<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevinpedronan.spendy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"
        android:maxSdkVersion="19" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kevinpedronan.spendy.SpendyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kevinpedronan.spendy.TransactionActivity"
            android:label="@string/title_activity_transaction" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
    			<action android:name="android.intent.action.VIEW"/>
   				<category android:name="android.intent.category.DEFAULT"/>
    			<category android:name="android.intent.category.BROWSABLE"/>
    			<data android:scheme="http" android:host="kevinpedronan.com" android:path="/spendy"/>
  			</intent-filter>
        </activity>
        <activity
            android:name="com.kevinpedronan.spendy.VenmoWebViewActivity"
            android:label="@string/title_activity_venmo_web_view" >
        </activity>
    </application>

</manifest>
